 /* Estilos generales */
 body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    background-image: url(https://www.shutterstock.com/image-illustration/tutor-word-isolated-on-white-260nw-698310355.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

h2 {
    color: #0ad4db;
}

button {
    background-color: #0869fc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0a6fe4;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}

form {
    margin-top: 20px;
}

input {
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#perfilBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
    
}

#cerrarSesionBtn {
    position: absolute;
    top: 20px;
    right: 100px;
    display: none;
}

